LICENSE.txt
.DS_Store
*.aux
*.log
*.fls
*_bak*
*.gz
*.pages
*.fdb_latexmk
main.blg
main.toc
Makefile
*.png
*.svg
main.synctex.gz
*.bbl
*.lof
main.toc
main.synctex.gz
main.log
main.lof
main.fls
main.fdb_latexmk
main.aux
*.eps